{% extends 'home.html' %}
{% load static %}
{% block metadescription %}
    
{% endblock %}
{% block title %}
    Filter
{% endblock %}


{% block content %}
<h1 style="text-align:center;">{{genre.name}}</h1>
<div class="container">
    <div class="row">
        {% for i in movies %}
            {% if genre.name in i.genre %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-3" style="padding-top:10px;padding-left:10px;padding-bottom:10px;padding-right:10px;">
                    <div class="card text-center" style="width:13rem;">
                        <a href="{% url 'movie_app:detail' i.id %}"><img class="card_img_top" src="{{i.img.url}}" alt="{{i.name}}" style="width:200px;"></a>
                        <div class="card-body">
                            <h6 class="card-title">{{i.name}}</h6>
                            <p class="card-text">({{i.year}})</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
